[package]
name = "ashell"
description = "A ready to go Wayland status bar for Hyprland"
homepage = "https://github.com/MalpenZibo/ashell"
version = "0.6.0"
edition = "2024"
rust-version = "1.88"

[profile.release]
lto = "fat"
strip = true
opt-level = 3 
panic = "abort"

[dependencies]
iced = { git = "https://github.com/MalpenZibo/iced", features = [
  "tokio",
  "multi-window",
  "advanced",
  "wgpu",
  "winit",
  "wayland",
  "image",
  "svg",
  "canvas"
] }
chrono = { version = "0.4", default-features = false, features = ["clock", "serde"] }
hyprland = "0.4.0-beta.2"
serde = { version = "1.0", default-features = false, features = [] }
sysinfo = "0.36"
tokio = { version = "1", default-features = false, features = [] }
zbus = { version = "5", default-features = false, features = ["tokio"] }
libpulse-binding = { version = "2.28", features = ["pa_v15"] }
log = { version = "0.4", features = [] }
flexi_logger = "0.31"
pipewire = "0.8"
wayland-client = "0.31.5"
wayland-protocols = { version = "0.32.3", features = ["client", "unstable"] }
itertools = "0.14"
hex_color = { version = "3", features = ["serde"] }
anyhow = "1"
udev = { version = "0.9", features = ["send", "sync"] }
toml = "0.9"
freedesktop-icons = "0.4"
linicon-theme = "1.2.0"
serde_json = "1"
regex = "1.11.1"
serde_with = { version = "3.12.0", default-features = false, features = ["macros"] }
tokio-stream = { version = "0.1.17", default-features = false }
uuid = { version = "1.16.0", default-features = false, features = ["v4"] }
clap = { version = "4.5", default-features = false, features = ["std", "derive"] }
shellexpand = { version = "3", features = ["path"] }
inotify = { version = "0.11.0", default-features = false, features = ["stream"] }
pin-project-lite = "0.2.16"
reqwest = { version = "0.12", default-features = false, features = ["json", "rustls-tls"] }
time = { version = "0.3", default-features = false, features = ["std", "parsing", "formatting", "serde"] }
